# Ignore node modules in client folder
/client/node_modules/

# Ignore Python virtual env or caches in server folder
/server/venv/
server/__pycache__/
/server/datasetaker-ef809b99e512.json

# Ignore environment files anywhere
.env
**/.env                 # Any .env files in subfolders

# Ignore other common system files (optional)
.DS_Store
Thumbs.db

.vscode/
__pycache__/
client/src/data/*
client/mongodb-compass_1.46.11_amd64.deb
client/postings.ndjson

# Add all pycaches
**/__pycache__/
**/*.pyc