fastapi==0.100.0
uvicorn[standard]==0.23.2
google-cloud-translate==3.11.1
google-auth==2.21.0
python-dotenv==1.0.0
pymongo==4.4.1
motor==3.2.0
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
numpy==1.26.2
sentence-transformers==2.2.2
huggingface_hub==0.13.4
pydantic[email]==1.10.12
