apiVersion: apps/v1
kind: Deployment
metadata:
  name: recsys-backend
  namespace: recsys
  labels:
    app: recsys-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: recsys-backend
  template:
    metadata:
      labels:
        app: recsys-backend
    spec:
      containers:
        - name: recsys-backend
          image: a3ryn/recsys:latest  # replace with your image
          imagePullPolicy: Always
          ports:
            - containerPort: 8000

          # Optional env vars (ideal practice)
          envFrom:
            - secretRef:
                name: recsys-secret
            - configMapRef:
                name: recsys-config

          # # Mount volume for logs
          # volumeMounts:
          #   - name: app-logs
          #     mountPath: /app/logs

          # Optional resources
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

      #   # Filebeat sidecar container
      #   - name: filebeat
      #     image: docker.elastic.co/beats/filebeat:8.11.1
      #     args: [
      #       "-c", "/etc/filebeat.yml",
      #       "-e",
      #     ]
      #     volumeMounts:
      #       - name: filebeat-config
      #         mountPath: /etc/filebeat.yml
      #         subPath: filebeat.yml
      #       - name: app-logs
      #         mountPath: /app/logs
      #         readOnly: true
      #     resources:
      #       requests:
      #         cpu: "100m"
      #         memory: "128Mi"
      #       limits:
      #         cpu: "200m"
      #         memory: "256Mi"

      # volumes:
      #   - name: app-logs
      #     emptyDir: {}
      #   - name: filebeat-config
      #     configMap:
      #       name: filebeat-config
      #       defaultMode: 0644
