apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: recsys
  labels:
    app: filebeat
data:
  filebeat.yml: |-
    filebeat.inputs:
    - type: log
      enabled: true
      paths:
        - /app/logs/*.log
    
    output.logstash:
      hosts: ["logstash:5044"]
    
    logging.level: info
    logging.to_stderr: true
